/* Image form section */
.images_form {
  width: 40%;
  margin: 40px auto;
  padding: 20px 25px;
  border-radius: 25px;
  background-color: rgb(243, 237, 237);
  box-shadow: 0px 0px 15px rgb(80, 80, 80);
  box-sizing: border-box;
}

/* Image form heading */
.images_form_heading {
  margin: 7px 0px 20px 0px;
  color: rgb(53, 50, 50);
  font-size: 30px;
}

/* Image form Input */
.images_form input {
  margin: 10px 0px;
  padding: 8px 15px;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 100%;
  font-size: 17px;
  box-sizing: border-box;
}

/* Clear button */
#images_form_clear_btn {
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  background-color: rgb(247, 37, 37);
  box-shadow: 0 0 7px rgb(87, 83, 83);
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}
#images_form_clear_btn:hover {
  transform: scale(1.1);
}

/* Add button */
#images_form_add_btn {
  padding: 6px 12px;
  margin: 0px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(33, 177, 233);
  box-shadow: 0 0 7px rgb(87, 83, 83);
  color: white;
  font-size: 18px;
  transition: background-color 2s ease-in-out;
  cursor: pointer;
  margin-top: 20px;
}
#images_form_add_btn:hover {
  transform: scale(1.1);
}

/* Responsive css */
@media only screen and (max-width: 950px) {
  /* Image form section */
  .images_form {
    width: 60%;
  }
  /* Image form heading */
  .images_form_heading {
    font-size: 24px;
  }
  /* Image input */
  .images_form input {
    font-size: 16px;
    padding: 5px 12px;
  }
  /* Create button */
  #create_btn {
    font-size: 16px;
  }
  /* Clear button */
  #clear_btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 750px) {
  /* Image form section */
  .images_form {
    width: 72%;
    min-width: 280px;
  }
  /* Image form heading */
  .images_form_heading {
    font-size: 24px !important;
  }
  /* Image input */
  .images_form input {
    font-size: 16px;
    padding: 5px 12px;
  }
  /* Create button */
  #create_btn {
    font-size: 16px;
  }
  /* Clear button */
  #clear_btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  /* Image form section */
  .images_form {
    width: 95%;
  }
}
